<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Saludo">Saludo</a></li>
    <li><a href="/Teachers">Teachers SSG</a></li>
    <li><a href="/Teachers2">Teachers CSR</a></li>
    <li><a href="/Technologies">Tecnologías</a></li>
    <li><a href="/Tailwind">Tailwind</a></li>
    <li><a href="/Flowbite">Flowbite</a></li>
    <li><a href="/Users">Usuarios</a></li>
  </ul>
</nav>

<style>
    nav{
        display: flex;
        gap: 10px;
    }

    nav ul{
        display: flex;
        gap: 8px;
    }

    li{
        list-style: none;
    }

    nav a{
        color: black;
        text-decoration: none;
        transition: all 1s;
    }

    nav a:hover{
        color: darkblue;
    }
</style>
